/* div {
    border: 1px solid red;
} */

.card-page-main{
    height: fit-content;
    background-image: url("https://i.imgur.com/d7KrWEt.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(255, 0, 0, 0);
}

.card-page-body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 80px auto 80px auto;
    width: 80%;
}

.card-picture{
    width: 350px;
    height: 450px;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-details-upper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.card-details{
    width: 500px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: left;
}

.card-attributes-left{
    width: 32%;
    min-width: fit-content;
    text-align: right;
    font-weight: 600;
}

.card-attributes-right{
    width: 68%;
    min-width: fit-content;
    white-space: nowrap;
    margin-left: 5px;
    text-align: left;
}

.card-attributes{
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
}

.card-attributes p{
    margin-bottom: 5px;
}

.card-transaction{
    margin-top: 4rem;
    text-align: left;
}

.cardpage-price{
    font-size: 28px;
    display: flex;
}

.card-value{
    margin-left: 15px;
    font-weight: 600;
}

.description-box{
    width: 100%;
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 25px;
    background-color: #D9D9D9;
    min-height: 150px;
    max-height: fit-content;
    box-shadow: 0 5px 5px rgba(154, 160, 185, 0.311), 0 5px 3px rgba(166,173,201,.2);
    text-align: left;
}

.card-details-lower{
    margin-top: 50px;
}

.description-title{
    font-size: 20px;
}

.seller-info{
    border: 1px solid black;
    border-radius: 10px;
    height: fit-content;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
}

@media only screen and (max-width: 1360px) {
    .seller-info{
      margin-left: 0;
    }

    .card-picture{
        margin-bottom: 50px;
    }

    .card-details{
        margin-bottom: 50px;;
    }
  }

.buttons-area{
    margin-top: 35px;
    display: flex;
    gap: 30px;
}

.seller-username{
    border: 2px solid #0047FF;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    color: #0047FF;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 100%;
}

.msngr-link{
    margin-top: 0.5rem;
    width: fit-content;
    box-sizing: border-box;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border: 1px solid black;
    border-radius: 1.2rem;
    box-shadow: 0 5px 5px rgba(154, 160, 185, 0.311), 0 5px 3px rgba(166,173,201,.2);
    display: flex;
    align-items: center;
}

.msngr-logo-area{
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 0.5rem;
}

.msngr-logo{
    width: 100%;
    height: 100%;
}

.msngr-copy-area{
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

.copy-icon{
    box-sizing: border-box;
    padding-top: 1rem;
}

.copy-alert {
    display: none;
    background-color: rgba(97, 97, 97, 0.92);
    color: white;
    padding: 0.3rem;
    border-radius: 5px;
    font-size: small;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.seller-info-area{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}
