/* WORK IN PROGRESS. TO BE */

.listings-page-main{
    height: fit-content;
    min-height: 100vh;
    background-image: url("https://i.imgur.com/d7KrWEt.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.listings-not-available,
.history-section,
.listing-section{
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center; 
    margin-top: 1.5%;
    width: 85%;
    
    /* border: solid black; */
}
.listings-not-available{
    justify-content: center;
    color: gray;
}

.listings-container{
    background-color: rgba(255,255,255, 0.35);
    margin: 0 auto;
    padding: 1.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;  
    width: 85%;
    margin-top: 1.5%;
    min-height: 40vh;
    /* border: solid black 0.1px; */
    box-shadow: -10px 0 15px -10px rgba(0, 0, 0, 0.25), /* Left */
                10px 0 15px -10px rgba(0, 0, 0, 0.25),  /* Right */
                0 -10px 15px -10px rgba(0, 0, 0, 0.25),  /* Top */
                0 10px 15px -10px rgba(0, 0, 0, 0.25);   /* Bottom */
    
}

.listings-card-container {
    text-align: left;
    border: solid 1px black;
    width: 200px;
    height: 210px;
    margin: 1%;
    background-color: cornsilk;
    transition: transform 0.3s ease; /* Add transition property */
}

.listings-card-container:hover {
    transform: scale(1.05); /* Scale up on hover */
}


.listings-card-container a{
    text-decoration: none;
    color: inherit;
}

.listing-history-card-upper,
.card-upper{
    height: 130px;
    background-color: #D9D9D9;
}

.card-image-size{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card-image{
    height: 100%;
}

.card-lower{
    /* border: solid 1px black; */
    background-color: white;
    height: 78px;
}
.card-lower-title{
    /* border: solid 1px black; */
    padding: 5%;
    font-size: 13px;
    height: 40px;
}

.card-lower-price{
    /* border: solid 1px black; */
    color: #ffcb05;
    font-weight: 650;
    font-size: 18px;
    padding-left: 10px;
}

.card-lower-title p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.history-section{
    justify-content: left;
}

.listing-history-main-container{
    width: 85%;
    border: solid black 1px;
    margin: 0 auto;
}
.listing-history-container{
    padding: 1%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    /* border: solid black 1px; */
    
}

.listing-history-content{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding: 1%;
    width: 100%;

    border: solid black 1px;
    border-radius: 10px;
    background: rgb(255,255,255);
    /* background: linear-gradient(86deg, rgba(255,255,255,1) 0%, rgba(166,166,166,1) 100%); */
}

.listing-history-card-upper{
    height: 100px;
}

.listing-history-texts{
    display: inline-block;
    /* border: solid black 1px; */
    margin-left: 15px;
    width: 90%;
    height: 100px;
}

.listing-history-price{
    text-align: right;
    padding: 1%;
    width: 10%;
    /* border: solid black 1px; */
}