*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box;
}

.market-page-main{
    background-color: white;
}

.market-page-navi{
    height: 590px;
    background: url('https://i.imgur.com/NV2Qj2X.png') no-repeat center center;
}

.market-page-body{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-top: -250px;
}

.search-bar{
    height: fit-content;
    width: 1265px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0000009c;
    color: white;
    align-items: center;
    display: flex;
    padding: 1rem 5rem 1rem 5rem;
}

.search-box{
    display: flex;
    background-color: #0084BD;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 2px 2px 2px 5px;
    border-radius: 4px;
    cursor: default;
}

.search-box input{
    width: 100%;
    height: 2.5rem;
    margin-left: 1.5rem;
    border-radius: 0px 3px 3px 0px;
    border: none;
    background-color: #00113cf0;
    color: white;
    font-size: 1.3rem;
    padding: 0px 20px 0px 20px;
}

.search-box input:focus{
    outline: none;
}

.market-card-lists{
    width: 1265px;
    min-height: 285px; /*set min height incase card lists is empty*/
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px 20px 20px 20px;
    background-color: #F7F7F7;
    text-align: left;
    box-shadow: 0 5px 3px rgba(154,160,185,.05), 0 5px 3px rgba(166,173,201,.2);
}

.market-card-lists a{
    text-decoration: none;
    color: inherit;
}

.card{
    width: 225px;
    height: 225px;
    background-color: white;
    box-shadow: 0 5px 3px rgba(154,160,185,.05), 0 5px 3px rgba(166,173,201,.2);
    transition: transform 0.3s ease;
    margin: 10px;
    text-align: left;
}

.card:hover{
    transform: scale(1.05);
}

.card-image-area{
    height: 145px;
    background-color: #D9D9D9;
}

.card-image-size{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card-image{
    height: 100%;
}

.card p{
    margin: 10px;
}

.card-price{
    color: #FFBF00;
    font-weight: 600;
    font-size: 24px;
}


/* added not able to find card css */
.not-able-to-find{
    width: 100%;
    align-self: center;
    text-align: center;
    color: gray;
}
