.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container{
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    width: 60%; /* Adjust as needed */
    border: solid thin black;
}

.preview{
    /* border: solid black; */
    display: flex;
    justify-content: center;
    width: 40%;
    padding-top: 3%;
    background-color: aliceblue;
}

.preview-texts{
    width:65%;
    /* border: solid black; */
    text-align: left;
}

.checkout{
    /* border: solid black; */
    width:60%;
    /* box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%); */
    box-shadow: -10px 0 15px -10px rgba(0, 0, 0, 0.25);
}