.transactions-main{
    height: fit-content;
    min-height: 100vh;
    background-image: url("https://i.imgur.com/d7KrWEt.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.transaction-card-area{
    padding: 30px;
}

.transactions-card{
    width: 80%;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
    gap: 10px;
    background-color: rgba(255,255,255, 0.50);
    box-shadow: 0 5px 3px rgba(154,160,185,.05), 0 5px 3px rgba(166,173,201,.2);
    border: solid black 1px;
    border-radius: 10px;
}

.transactions-card-image-area{
    width: 160px;
    min-width: 160px;
    height: 120px;
}

.transactions-card-image-area-2{
    height: 120px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.transactions-card-image-area-3{
    margin-left: auto;
    color: #1DC6E3;
    font-size: 20px;
}

.lol{
    margin-bottom: 30px;
}